## Preprocessing

In [59]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [60]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(["EIN", "NAME"], axis=1)
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [61]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [62]:
# Look at APPLICATION_TYPE value counts for binning
bins = df["APPLICATION_TYPE"].value_counts()
bins

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [63]:
# Choose a cutoff value (200) and create a list of application types to be replaced
application_types_to_replace = bins[bins<200].index

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [64]:
# Look at CLASSIFICATION value counts for binning
bins = df["CLASSIFICATION"].value_counts()
bins

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [65]:
# Might be helpful to look at CLASSIFICATION value counts >1
bins[bins>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [66]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = bins[bins<1500].index

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [67]:
# Convert categorical data to numeric with `pd.get_dummies`
# SPECIAL_CONSIDERATIONS_N is dropped because the original column is just a binary Yes/No column and can simply be represented in 1/0 format
dummy_df = pd.get_dummies(df.select_dtypes(exclude="int64"), dtype="float").drop("SPECIAL_CONSIDERATIONS_N", axis=1)
dummy_df

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34296,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [68]:
# According to some online sources, it doesn't make sense to scale the dummy or binary variables
# (They're all on the scale of 0-1)
# So I'll only be scaling the numerical values, which only one column has

# Split our preprocessed data into our features and target arrays
y = df.loc[:, ["IS_SUCCESSFUL"]]
scaleMe = df.loc[:, ["ASK_AMT"]]

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler and scale the data
scaler.fit(scaleMe)
scaled_data = scaler.transform(scaleMe)

# Combine data
scaled_df = pd.DataFrame(scaled_data)
X = pd.concat([dummy_df, scaled_df, df.loc[:, ["STATUS"]]], axis=1).rename(columns={0:"ASK_AMT"})

# Split the preprocessed data into a training and testing dataset
X_train_scaled, X_test_scaled, y_train, y_test = train_test_split(X,y)

In [72]:
len(X.columns)

42

## Compile, Train and Evaluate the Model

In [73]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# I have 8 cores on my computer, so I'll go with 16 neurons for sanity's sake.
input_features = len(X.columns)
neurons = 16

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=neurons, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=neurons, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                688

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 977 (3.82 KB)
Trainable params: 977 (3.82 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [75]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [76]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5975 - accuracy: 0.6979
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5597 - accuracy: 0.7260
Epoch 3/100
804/804 [==============================] - 1s 932us/step - loss: 0.5559 - accuracy: 0.7288
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7294
Epoch 5/100
804/804 [==============================] - 1s 969us/step - loss: 0.5521 - accuracy: 0.7304
Epoch 6/100
804/804 [==============================] - 1s 972us/step - loss: 0.5509 - accuracy: 0.7303
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7306
Epoch 8/100
804/804 [==============================] - 1s 985us/step - loss: 0.5497 - accuracy: 0.7315
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7298
Epoch 10/100
804/804 [==============================] - 1s 945us/step - loss: 0.5493 - accuracy: 0.7306
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7318
Epoch 12/100
804/804 [==============================] - 1s 998us/step - loss: 0.5483 - accuracy: 0.7311
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7317
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7309
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7321
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7304
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7314
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7310
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7319
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7313
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7316
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7329
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7318
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7334
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7333
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7335
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7321
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7335
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7326
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7319
Epoch 31/100
804/804 [==============================] - 1s 997us/step - loss: 0.5452 - accuracy: 0.7335
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7329
Epoch 33/100
804/804 [==============================] - 1s 982us/step - loss: 0.5453 - accuracy: 0.7320
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7339
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7333
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7326
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7332
Epoch 38/100
804/804 [==============================] - 1s 979us/step - loss: 0.5445 - accuracy: 0.7328
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 40/100
804/804 [==============================] - 1s 982us/step - loss: 0.5444 - accuracy: 0.7341
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7343
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7347
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7346
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7343
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7339
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7343
Epoch 47/100
804/804 [==============================] - 1s 986us/step - loss: 0.5440 - accuracy: 0.7350
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7332
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7341
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7348
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7346
Epoch 52/100
804/804 [==============================] - 1s 988us/step - loss: 0.5433 - accuracy: 0.7348
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7344
Epoch 54/100
804/804 [==============================] - 1s 960us/step - loss: 0.5427 - accuracy: 0.7355
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7347
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7363
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7352
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 59/100
804/804 [==============================] - 1s 969us/step - loss: 0.5427 - accuracy: 0.7353
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7350
Epoch 61/100
804/804 [==============================] - 1s 963us/step - loss: 0.5431 - accuracy: 0.7360
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7350
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7356
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7359
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7352
Epoch 66/100
804/804 [==============================] - 1s 952us/step - loss: 0.5426 - accuracy: 0.7372
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7355
Epoch 68/100
804/804 [==============================] - 1s 961us/step - loss: 0.5424 - accuracy: 0.7360
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7360
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7365
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7364
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7352
Epoch 73/100
804/804 [==============================] - 1s 943us/step - loss: 0.5420 - accuracy: 0.7354
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7366
Epoch 75/100
804/804 [==============================] - 1s 995us/step - loss: 0.5421 - accuracy: 0.7363
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7371
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7358
Epoch 78/100
804/804 [==============================] - 1s 963us/step - loss: 0.5418 - accuracy: 0.7358
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7365
Epoch 80/100
804/804 [==============================] - 1s 958us/step - loss: 0.5417 - accuracy: 0.7359

Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7355
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7369
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7364
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7359
Epoch 85/100
804/804 [==============================] - 1s 949us/step - loss: 0.5415 - accuracy: 0.7357
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7361
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7362
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7371
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7361
Epoch 90/100
804/804 [==============================] - 1s 981us/step - loss: 0.5413 - accuracy: 0.7359
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7364
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7368
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7364
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7374
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7360
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7381
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7372
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7380
Epoch 99/100
804/804 [==============================] - 1s 973us/step - loss: 0.5409 - accuracy: 0.7370
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7374

In [77]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5476 - accuracy: 0.7326 - 324ms/epoch - 1ms/step
Loss: 0.5475578308105469, Accuracy: 0.7325947284698486

In [79]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

C:\Users\user\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(